.teams-section {
  text-align: center;
}

.table-teams {
  margin: 2rem auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  border-collapse: collapse;
  table-layout: fixed;

  th {
    font-size: 1.5rem;
    padding: 0.3rem 2rem;
    background-color: #35304a;
  }

  td {
    border-bottom: 1px solid #adadad;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
  }

  @media screen and (max-width: 400px) {
    th,
    td {
      font-size: 1rem;
    }
    
  }
}

.table-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.table-btn {
  padding: 0.2rem 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(60, 105, 190);
  color: whitesmoke;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: rgb(48, 86, 156);
  }
}
