:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: whitesmoke;
  background-color: #242424;
}

body {
  margin: 0;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

.main-btn {
  font-size: 1.05rem;
  letter-spacing: 0.1rem;
  padding: 0.6rem 1rem;
  background-color: #5b4aa0;
  color: whitesmoke;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: #4a406e;
  }
}

a {
  text-decoration: none;
  color: whitesmoke;
}